.yui3-skin-sam .yui3-button-color-blue {
  color: #fff;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#599bdc), to(#3476b7));
  background-image: -webkit-linear-gradient(top, #599bdc, #3476b7);
  background-image: -moz-linear-gradient(top, #599bdc, #3476b7);
  background-image: -ms-linear-gradient(top, #599bdc, #3476b7);
  background-image: -o-linear-gradient(top, #599bdc, #3476b7);
  background-image: linear-gradient(top, #599bdc, #3476b7);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#599bdc', EndColorStr='#3476b7');
  background-color: #3476b7;
}
.yui3-button {
	position: relative ;
	padding:6px ;
	border-radius: 4px ;
}
div.selectbox {
	position: relative ;
	vertical-align: top ;
	/*border: 1px solid black;*/
	/*padding:6px ;*/
	float: right ;
	right: 0px ;
}

.editbox {
	position: relative ;
	vertical-align: top ;
	/*border: 1px solid black;*/
	padding-top: 6px ;
	float: right ;
	right: 2px ;
}

#selecteddate {
	float: right ;
		
}
div.static {
	margin-top:5px ;
	padding-top: 5px ;
	margin-left:15px ;
	position: relative ;
	/*border: 1px solid black;*/
	position: relative;
	float: left ;
}
div.editline select {
	margin-top:7px ;
	padding-top: 1px ;
}
div.editline {
	position: relative ;
/*	border: 1px solid black;*/
	clear: both ;
/*	padding:6px ;*/
	position: relative:
}

.righbutton  {
	position:relative;
	margin: 0px 20px 0px 20px  ;
	float: right ;
	display: inline-box ;
}
.leftbutton  {
	position:relative;
	margin: 0px 10px 0px 10px  ;
	float: left ;
	display: inline-box ;
}
.buttonframe {
	padding: 0px 0px 0px 0px  ;
}
.buttongroup {
	margin-top: 30px ;
	margin-left: 15px ;
}
.radiogroup {
	padding-left: 20px ;
	
	border: 1px solid gray ;
	border-radius: 5px ;
	margin-left: 15px ;
}

div.panel_control_part div.radiogroup > div {
	font-weight: bold ;
}

.panel_control_part * {
	font-family: "Lucida Grande", "Lucida Sans", Calibri, Helvetica, Arial, sans-serif; ;
	font-weight: normal ;
}
.panel_control_part {
	background-color: #EDF5FF ;
}
.panel_control_part > div{
	margin-right: 10px ;
}

#panel_root #panel_control div.yui3-panel {
	border-radius: 5px ;
	background-color: blue ;
}
